<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dodawanie pacjenta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #06004F;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #99B333;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 300px;
  padding: 1px 16px;
  height: 1000px;
}

.button-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

}



    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/" style="color: #06004F;">[LabMaster-LOGO]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn" href="/login" role="button" style="color: #06004F; background-color: #FFE600;">Zaloguj
                    się</a>
            </li>
        </ul>
    </div>
</nav>

<!-- The sidebar -->
<div class="sidebar">
    <a class="nav-item nav-link disabled>LabMaster">LabMaster</a>
    <a class="active" href="/recepcja/dashboard">Panel kontroli</a>
    <a href="/recepcja/visits">Umówienia</a>
    <a href="#">Wyniki badań</a>
    <!--    <a href="#">Opcja2</a>-->
    <!--    <a href="#">Opcja4</a>-->
</div>

<div class="content">
    <div class="container">
        <h1>Centrum badań</h1>
        <hr>
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">

                <h2 class="text-center mb-5">Nowe badanie</h2>

                <form action="#" th:action="@{/recepcja/tests/saveTest}" th:object="${test}" method="POST" class="was-validated">
                    <input type="hidden" th:field="*{wykonanie}">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Zleceniodawca</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:field="*{zleceniodawca}" required>
                            <div class="valid-feedback">✦</div>
                            <div class="invalid-feedback">Zleceniodawca jest wymagane.</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Wykonawca</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:field="*{wykonawca}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Typ testu</label>
                        <div class="col-sm-8">
                            <select class="form-select" th:field="*{test_types}" required>
                                <option value="">Wybierz typ testu</option>
                                <option th:each="testType : ${testTypes}" th:value="${testType.id}" th:text="${testType.type}"></option>
                            </select>
                            <div class="valid-feedback">✦</div>
                            <div class="invalid-feedback">Test Type is required.</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Numer NFZ</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:field="*{nfz}" pattern="\d{1}-\d{2}-\d{8}-\d{2}" title="Enter NFZ number in format 1-10-00023451-12" value="" required>
                            <div class="valid-feedback">✦</div>
                            <div class="invalid-feedback">Numer NFZ jest wymagany i powinien być w formacie 1-10-00023451-12.</div>
                        </div>
                    </div>
                    <div class="row mb-3" hidden>
                        <label class="col-sm-4 col-form-label">Stan</label>
                        <div class="col-sm-8">
                            <select class="form-select" th:field="*{stan}">
                                <option value="do wykonania" selected>Do wykonania</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-sm-4 col-sm-4 d-grid">
                            <button type="submit" class="btn btn-primary" style="color: #06004F; border-color: #99B333; background-color: #99B333;">Zarejestruj</button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <a class="btn btn-outline-success" href="/recepcja/tests" role="button" style="color: #06004F; border-color: #99B333; ">Anuluj</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
<footer class="footer fixed-bottom">
    <div class="text-center p-3" style="background-color: #06004F; ">
        © 2020 Copyright:
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
