<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
</head>
<body>
<imput type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<fieldset>
    <legend>Please Log In</legend>
    <div th:if="${param.error}">
        Failed to login.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.</div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username</label> <input type="text" id="username" name="username" />
        </div>
        <div>
            <label for="password">Password</label> <input type="password" id="password" name="password" />
        </div>
        <input type="submit" value="Log in" />
</form>
</fieldset>
</body>
</html>

