/* Początkowa strona */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Group 1 */

position: absolute;
width: 437px;
height: 56px;
left: 973px;
top: 30px;



/* Frame 1 */

position: absolute;
width: 207.88px;
height: 56px;
left: 973px;
top: 30px;



/* Rectangle 3 */

position: absolute;
width: 207px;
height: 56px;
left: 0px;
top: 0px;

background: #FFE600;


/* Zaloguj się */

position: absolute;
height: 23px;
left: 24.05%;
right: 24.48%;
top: calc(50% - 23px/2 + 0.5px);

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #06004F;



/* Frame 2 */

position: absolute;
width: 207.88px;
height: 56px;
left: 1202.12px;
top: 30px;



/* Rectangle 3 */

position: absolute;
width: 207px;
height: 56px;
left: 0px;
top: 0px;

background: #FFE600;
border-radius: 3px;


/* Zarejestruj */

position: absolute;
height: 23px;
left: 23.99%;
right: 24.53%;
top: calc(50% - 23px/2 + 0.5px);

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #06004F;



/* Group 2 */

position: absolute;
width: 406px;
height: 340px;
left: 517px;
top: 342px;



/* Rectangle 1 */

position: absolute;
width: 406px;
height: 340px;
left: 517px;
top: 342px;

background: #D9D9D9;


/* Line 1 */

position: absolute;
width: 529.56px;
height: 0px;
left: 517px;
top: 342px;

border: 1px solid #FFFFFF;
transform: rotate(39.94deg);


/* Line 2 */

position: absolute;
width: 529.56px;
height: 0px;
left: 517px;
top: 682px;

border: 1px solid #FFFFFF;
transform: rotate(-39.94deg);


/* Group 3  */

position: absolute;
width: 207.88px;
height: 56px;
left: 38px;
top: 30px;



/* Rectangle 1 */

position: absolute;
width: 207.88px;
height: 56px;
left: 38px;
top: 30px;

background: #D8D8D8;


/* Line 1 */

position: absolute;
width: 215.29px;
height: 0px;
left: 38px;
top: 30px;

border: 1px solid #FFFFFF;
transform: matrix(0.97, 0.26, -0.93, 0.36, 0, 0);


/* Line 2 */

position: absolute;
width: 215.29px;
height: 0px;
left: 38px;
top: 86px;

border: 1px solid #FFFFFF;
transform: matrix(0.97, -0.26, 0.93, 0.36, 0, 0);


/* LabMaster System */

position: absolute;
height: 75px;
left: 34.1%;
right: 34.1%;
top: calc(50% - 75px/2 - 264.5px);

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 75px;
/* identical to box height */

color: #06004F;



/* Rectangle 2 */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 924px;

background: #06004F;


/* Line */

position: absolute;
left: 0%;
right: -1.18%;
top: 9.67%;
bottom: 87.6%;

border: 1px solid #06004F;
